
body{
    background-color: lightblue;
}

.cookie {
    text-align: center;
    padding: 100;
    background-color: transparent;
    border-radius: 10px;
}



.cookie img {
    
    margin-top: 10%;
    width: 100;
    height: 100;

}

.cookie p{
    
    font-size: 30px;
    
}